<h1>About</h1>
<p>Jungle was started on a drunken dare in 1983. Who knew we would be around 40 years later and still bringing you all your top-quality plant needs from the Bay Area? We certainly didn't.</p>
<p>Here's hoping the planet can hold on for another 40 more, and that we're still around then too!</p>
